<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <title>ToDoPage</title>
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center font-weight-bold">ToDoList</h1>
    <h4 class="font-weight-bold" th:text="|Happy ${today}!|"></h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Actions</th>
                <th>Id</th>
                <th>Descriptions</th>
                <th>Complete</th>
                <th>Created Date</th>
                <th>Modified Date</th>
            </tr>
            </thead>
            <tbody th:if="${todoItems}">
            <tr th:each="item : ${todoItems}" th:class="${item.complete} ? 'table-success' : 'table-light'">
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" th:href="@{/edit/{id} (id=${item.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/delete/{id} (id=${item.id})}">Delete</a>
                    </div>
                </td>
                <td th:text="${item.id}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.complete}"></td>
                <td th:text="${#temporals.format(item.createdDate, 'yyyy-MM-dd  HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(item.modifiedDate, 'yyyy-MM-dd  HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a class="btn btn-success mt-3" th:href="@{/create-todo}">Add a Todo</a>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
